*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    color: #ff094f;
    text-decoration: none;
}    
a:hover {
    color: rgb(255, 25, 113);
    text-decoration: none;
}    
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
}
@media (prefers-reduced-motion: no-preference) {
        :root {
          scroll-behavior: smooth;
        }
}
@media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
} 
.nav{
    position: absolute;
    top: 75px;
    left: 150px;
    display: flex;
    border-left: 5px solid #ff094f;
    padding-left: 20px;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0s;
    opacity: 0;
}
.nav li a{
    text-decoration: none;
    color: #000000;
    margin-right: 30px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 400;
}
.nav li a.active,
.nav li a:hover{
    color: #ff094f;
}

.banner{
    position: relative;
    widows: 100%;
    min-height: 100%;
    height: 800px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#ff094f;
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 90% 100%);
    animation: fade-in 0.5s ease-in forwards;
    animation-delay: 1.5s;
    opacity: 0;
}
.banner .content{
    position: relative;
    padding: 100px 50px 100px 150px;
    box-sizing: border-box;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0.5s;
    opacity: 0;
}
.banner .content h2{
    color: #000000;
    font-size: 3em;
    font-weight: 800;
}
.banner .content span{
    color: #ff094f;
}
.banner .content p{
    color: #000000;
    font-size: 1.2em;
    font-weight: 400;
}
.banner .content a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    background: #ff094f;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.95em;
    font-weight: 700;
    letter-spacing: 2px;
}
.banner .imgBox{
    position: relative;
    padding-right: 100px;
}
.banner .imgBox img{
    max-width: 500px;
    animation: fade-in 0.5s ease-in forwards;
    animation-delay: 2s;
    opacity: 0;
}
.sci{
    position: absolute;
    bottom: 75px;
    left: 150px;
    display: flex;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 1s;
    opacity: 0;
}
.sci li{
    list-style: none;
}
.sci li a{
    text-decoration: none;
    color: #ff094f;
    margin-right: 30px;
    font-size: 1.1em;
}
.sci li a svg{
    width: 30px;
    margin-right: 3px;
    height: 30px;
}
.sci li a:hover{
    color: #000000;
}
@media(max-width:994px){
    .menuicon{
        position: fixed;
        top: 40px;
        right: 40px;
        width: 30px;
        height: 30px;
        background: url('images/list.png');
        background-size: 30px;
        cursor: pointer;
        background-repeat: no-repeat;
        z-index: 1000;
    }

    .menuicon.active{
        background: url('images/close.jpg');
        filter: invert(1);
        background-size: 30px;
        cursor: pointer;
        background-repeat: no-repeat;
        z-index: 1000;
    }

    .nav{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.95);
        flex-direction: column;
        z-index: 11;
        border: none;
        justify-content: center;
        align-items: center;
    }
    .nav.active{
        left: 0;
    }
    .nav li{
        margin: 15px 0;
    }
    .nav li a{
        color: #ffffff;
    }

    .banner{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .banner::before{
        clip-path: polygon(0 0, 100% 0, 100% 10%, 0 26%);
    }
    
    .banner .content{
        padding: 50px;
        margin-bottom: 30px;
    }
    
    .banner .content h2{
        font-size: 1.5em;
    }
    
    .banner .content p{
        font-size: 1em;
    }
    .banner .content a{
        font-size: 0.8em;
        padding: 10px;
    }

    .banner .imgBox{
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        margin-top: 20px;
    }

    .banner .imgBox img{
        max-width: 300px;
    }
    .sci{
        bottom: 60px;
        left: 100px;
    }
    .sci li a{
        font-size: 0.9em;
    }
    .sci li a svg{
        width: 20px;
        height: 20px;
    }
}
@media(max-width:450px){
    .menuicon{
        right: 40px;
        width: 20px;
        height: 20px;
        background-size: 20px;
    }
    .banner .imgBox img{
        width: 200px;
    }
    .sci{
        bottom: 0px;
        left: 0px;
    }
    .sci li a{
        font-size: 0.8em;
    }
    .sci li a svg{
        width: 18px;
        height: 18px;
    }
}

/*--------------------- ABOUT */

.container{
    background: linear-gradient(#ffffff, #ff094f);
    padding: 40px;
}
.about-containers{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}
.about-containers .about-cards{
    position: relative;
    width: 80%;
    height: fit-content;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(255, 9, 62, 0.308);
    border-radius: 15px;
    background: rgba(255, 255, 255);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.445);
    border-left: 1px solid rgba(0, 0, 0, 0.445);
}
.about-containers .about-cards img{
    height: 300px;
}
.about-containers .about-cards .about-content{
    padding: 20px;
    text-align: center;
}
.about-containers .about-cards .about-content h4{
    font-size: 2em;
    color: #ff094f;
    margin-bottom: 10px;
}
.about-containers .about-cards .about-content p{
    font-size: 1em;
    color: #000000;
}
.about-containers .about-cards .about-content strong{
    font-size: 1.2em;
    color: #000000;
}
.para{
    margin-top: 15px;   
}

/* ----------------------GENERAL */
.section-title {
    padding-bottom: 30px;
}  
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: rgb(0, 0, 0);
    position: relative;
}  
.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #ff094f;
    bottom: 0;
    left: 0;
}  
.section-title p {
      color: rgb(0, 0, 0);
    margin-bottom: 0;
}
.service-containers::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(255, 0, 0), rgb(255, 0, 140));
    clip-path: circle(20% at right 70%);
}

/* ------------SERVICE */
.ser-heading{
    margin-top: 50px;
    margin-bottom: 0;
    padding-left: 100px;
    padding-right: 100px;
}
.ser-heading p{
    color: black;
}
.service-containers{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}
.service-containers .service-cards{
    position: relative;
    width: 530px;
    height: fit-content;
    margin: 40px;
    box-shadow: 0px 10px 20px rgba(129, 128, 128, 0.438);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.055);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
}
.service-containers .service-cards .service-content{
    padding: 20px;
    text-align: center;
    transform: translateY(90px);
    opacity: 1;
    transition: 0.5s;
}
.service-containers .service-cards:hover .service-content{
    transform: translateY(0px);
    opacity: 1;
}
.service-containers .service-cards .service-content h3{
    margin-bottom: 15px;
    font-size: 2em;
    color: #000000;
    z-index: 1;
}
.service-containers .service-cards .service-content p{
    font-size: 1.2em;
    color: #000000;
}
.service-containers .service-cards .service-content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 37px;
    background: #000000;
    color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 5px 15px rgba(73, 73, 73, 0.2);
}
.service-cards img{
    padding: 10px;
} 
@media(max-width:650px) {
    .service-cards img{
        display: none
    }
    .service-containers .service-cards .service-content{
        transform: translateY(0px);
        transition: none;
    }
}
@media(max-width:360px){
    .service-containers::before{
        display: none;
    }
    .sci{
        display: none;
    }
    .banner .imgBox{
        max-width: 80%;
        margin-top: 100px;
    }
}

/* -----------------GALLERY */
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: linear-gradient(rgb(255, 255, 255), #ff094f);
}
.gallery-container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.gallery-container .gallery-card{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
}
.gallery-container .card2:nth-child(odd){
    flex-direction: column-reverse;
}
.gallery-container .gallery-card .gallery-imgBox{
    position: relative;
    width: 250px;
    height: 250px;
    background: #000000;
}
.gallery-container .gallery-card .gallery-imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-container .gallery-card .gallery-content{
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-container .gallery-card .gallery-content div{
    padding: 20px;
    text-align: center;
}
@media(max-width:600px) {
    .gallery-container .gallery-card{
        flex-direction: column;
        margin: 10px 0;
    }   
    .gallery-container .card2:nth-child(odd){
        flex-direction: column;
    }
    .gallery-container .gallery-card .gallery-imgBox,
    .gallery-container .gallery-card .gallery-content{
        width: 100%;
    }
    .gallery-container .gallery-card .gallery-content{
        height: 200px;
    }
}
@media(max-width:360px){
    .gallery-container .gallery-card{
        width: 230px;
    }
    .gallery-container .gallery-card .gallery-imgBox{
        width: 230px;
        height: 230px;
    }
    .gallery-container .gallery-card .gallery-content{
        width: 230px;
    }
       
}

/* ------------TESTIMONIALS */
.testimonials{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.testimonials-container {
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.testimonials-container .testimonials-card {
    position: relative;
    width: 330px;
    height: 200px;
    background: linear-gradient( #f1f1f1, white);
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.233);
    transition: 0.3s ease-in-out;
}
.testimonials-container .testimonials-card:hover {
    height: 420px;
}
.testimonials-container .testimonials-card .testimonials-imgBox {
    position: relative;
    width: fit-content;
    height: fit-content;
    top: -70px;
    left: 35px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.testimonials-container .testimonials-card .testimonials-imgBox img {
    width: 230px;
    height: 173px;
    border-radius: 6px;
}
.testimonials-container .testimonials-card .testimonials-content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.testimonials-container .testimonials-card:hover .testimonials-content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

/* ---------------TEAM */
.team{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff094f;
}
.team-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}
.team-container .team-card{
    position: relative;
    width: 300px;
    height: 450px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.team-container .team-card .team-content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    transition: 0.5s;
    margin-bottom: 50px;
}
.team-container .team-card:hover .team-content{
    transform: translateY(20px);
}
.team-container .team-card .team-content .team-img {
    width: 100px;
    border-radius: 50%;
    border: 6px solid rgba(129, 129, 129, 0.15);
    margin: 0 auto;
} 
.team-container .team-card .team-content h3{
    margin-top: 12px;
    font-size: 1.8em;
    color: #ffffff;
    z-index: 1;
}
.team-container .team-card .team-content p{
    font-size: 1em;
    color: #ffffff;
    font-weight: 300;
}
.team-container .team-card .team-content .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}  
.team-container .team-card .team-content .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #a8a5ae;
}  
.team-container .team-card .team-content .social a svg {
    color: #fff;
    font-size: 16px;
    margin: 0 2px;
}  
.team-container .team-card .team-content .social a:hover {
    background: #ff094f;
}
.team-container .team-card .team-content .social a + a {
    margin-left: 8px;
}
@media(max-width:380px){
    .team-container .team-card{
        width: 250px;
        margin: 10px;
    }
}


/* ----------------------CONTACT */
.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}
.contact-containers{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contact-box{
    position: relative;
    padding: 50px;
    margin: 30px;
    margin-right: 40px;
    width: fit-content;
    height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}
.contact-box::after{
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    pointer-events: none;
}
.contact-box .contact-form{
    position: relative;
    width: 100%;
}
.contact-box .contact-form h3{
    color: #000000;
    font-size: 29px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 30px;
    border-bottom: 2px solid #ff094f;
    width: 200px;
}
.contact-box .contact-form .inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contact-box .contact-form .inputBox input{
    width: 100%;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    padding: 8px 10px;
    padding-left: 35px;
    border-radius: 6px;
    color: #000000;
    font-size: 16px;
    font-weight: 450;
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.2);
}
.contact-box .contact-form .inputBox .areaBox{
    width: 100%;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    padding: 8px 10px;
    padding-left: 35px;
    border-radius: 6px;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
}
.contact-box .contact-form .inputBox input::placeholder{
    color: #686363;
}
.contact-box .contact-form .inputBox .areaBox::placeholder{
    color: #686363;
}
.contact-box .contact-form input[type="submit"]{
    background: #ff094f;
    color: #ffffff;
    max-width: 100px;
    padding: 8px 10px;
    box-shadow: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}
.contact-box .contact-form .inputBox img{
    position: absolute;
    top: 36px;
    left: 10px;
    transform: scale(0.9);
}
.contactBox{
    position: relative;
    padding: 50px;
    margin-left: 40px;
    margin-right: 30px;
    margin-bottom: 20px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: inset 0 5px 35px rgba(0, 0, 0, 0.2);
}
.contactBox ul{
    display: flex;
    flex-direction: column;
}
.contactBox ul li{
    padding: 17px;
    padding-top: 7px;
    padding-bottom: 3px;
    margin-top: 1px;
    margin-bottom: 3px;
    font-weight: normal;
}
.contactBox h4{
    color: #000000;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    border-bottom: 1px solid #ff094f;
}
.contactBox h5{
    color: #ff094f;
    font-weight: 600;
    letter-spacing: 1px;
}
.contactBox small{
    color: #6e6969;
}

/* ---------FOOTER */
#footer {
    background: #ff094f;
    padding: 0 0 30px 0;
}  
#footer .copyright {
    color: white;
    text-align: center;
    padding-top: 30px;
}  
.back-to-top {
    position: fixed;
    right: 18px;
    bottom: 15px;
    z-index: 995;
} 
.back-to-top svg {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    color: #000000;
    transition: all 0.4s;
    border: 2px solid #ff094f;
}
.back-to-top svg:hover {
    background: #ff094f;
    color: #1a1814;
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes left-in{
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
